{% extends 'base_dashboard.html' %}
{% load static %}
{% block content %}


    <section class="h-100 h-custom" style="background-color: #d7eae5;"> <!-- 586965 -->
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-7">
              <div class="card rounded-3" style="border-radius: 15px; background-color: rgba(33, 30, 30, 0.13); color: black;"> <!-- rgba(31, 28, 28, 0.13); -->
              
              <div class="card-body p-4 p-md-5" >

                {% for msg in messages %} 
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Hi!</strong> {{msg}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>                   
                {% endfor %} 
    
                
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-uppercase" style="text-align: center;">Registration Form</h3>
    
                
                <form class="px-md-2" style="font-size: 20px;" action="saveEmployeeData" method="post" name="registrationForm" onsubmit="return validateForm()">
                    {% csrf_token %}
                  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="">First Name <span style="color: red; font-size: 20px;">*</span> </label>
                        <input type="text" name="f_name" id="f_name" class="form-control form-control-lg" required />                    
                      </div>
                    </div>
    
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="">Last Name <span style="color: red; font-size: 20px;">*</span></label>
                        <input type="text" name="l_name" id="l_name" class="form-control form-control-lg" required />                   
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <!-- <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="">Employee ID <span style="color: red; font-size: 20px;">*</span></label>
                        <input type="number" name="emp_id" id="emp_id" class="form-control form-control-lg" required />                    
                      </div>
                    </div> -->
    
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="">Department <span style="color: red; font-size: 20px;">*</span></label>
                        <select class="form-control select" name="department" required>
                          <option value="">Select</option> 
                          <option value="IT">IT</option> 
                          <option value="HR">HR</option>                                     
                       </select>
                      </div>
                    </div>
                  </div> 

                  <div class="form-outline mb-4">
                    <label class="form-label" for="">Email <span style="color: red; font-size: 20px;">*</span> </label>
                    <input type="email" name="email" id="email" class="form-control form-control-lg" required />
                  </div>

    

                  <button type="submit" class="btn btn-success btn-lg mb-1" style="background: green; color: white;">Submit</button>
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    


    <!-- Start Validation on input fields -->
      <script>
        // Function to validate form fields
        function validateForm() {
          var firstName = document.forms["registrationForm"]["f_name"].value;
          var lastName = document.forms["registrationForm"]["l_name"].value;
          var email = document.forms["registrationForm"]["email"].value;

                   
            
          // Regular expressions for validation
          var nameRegex = /^[A-Za-z ]{3,}$/;  // Only allow alphabets
          var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Email format

          // Validation for first name
          if (!nameRegex.test(firstName)) {
            alert("Please enter a valid first name with minimum 3 alphabets.");
            return false;
          }
      
      
          // Validation for last name
          if (!nameRegex.test(lastName)) {
            alert("Please enter a valid last name with minimum 3 alphabets.");
            return false;
          }

          // Validation for email
          if (email !== "" && !(email.endsWith(".com") || email.endsWith(".in"))) {
            alert("Please enter a valid email address end with .com or .in");
            return false;
          }

              
          return true; // Form is valid
        }
      </script>
      <!-- End Validation on input fields -->
      
      


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      
{% endblock %}
