{% extends 'base_admin.html' %}
{% block content %} 

<section class="h-100 h-custom" style="background-color: #433939;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3" style="border-radius: 15px; background-color: rgba(255,255,255,0.13); color: white;">
            <div class="card-body p-4 p-md-5">
              {% for msg in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Hey!</strong> {{msg}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>                   
                {% endfor %} 
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" style="text-align: center;">Add Attendance</h3>
  
              <form class="px-md-2" action="" method="post" name="EventForm" onsubmit="return validateForm()">
                {% csrf_token %}
                

                <div class="form-outline mb-4">
                    <label class="form-label" for="">Employee Name <span style="color: red; font-size: 20px;">*</span> </label>
                    {% for i in data %}
                        <input type="text" id="emp_name" name="emp_name" class="form-control form-control-lg" value="{{i.full_name}}" readonly />
                    {% endfor %}
                </div>
                

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="">Employee ID <span style="color: red; font-size: 20px;">*</span> </label>
                      {% for j in data %}
                      <input type="number" name="emp_id" id="emp_id" class="form-control form-control-lg" value="{{j.emp_id}}" readonly />   
                      {% endfor %}                 
                    </div>
                  </div>
  
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="">Attendance Date <span style="color: red; font-size: 20px;">*</span> </label>
                      {% for k in data %}
                      <input type="date" name="attendance_date" id="L_Start_date" class="form-control form-control-lg" value="{{k.attendance_date}}" required /> 
                      {% endfor %}                    
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="">Check In <span style="color: red; font-size: 20px;">*</span></label>
                      {% for l in data %}
                      <input type="time" minlength="5" maxlength="5" name="in_time" class="form-control form-control-lg" value="{{l.check_in}}" placeholder="hh:mm" required />               
                      {% endfor %}  
                    </div>
                  </div>
  
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for=""> Check Out <span style="color: red; font-size: 20px;">*</span></label>
                      {% for m in data %}
                      <input type="time" minlength="5" maxlength="5" name="out_time" class="form-control form-control-lg" value="{{m.check_out}}" placeholder="hh:mm" required />         
                      {% endfor %}           
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="">Update Status (Present / Absent) <span style="color: red; font-size: 20px;">*</span> </label>
                    <select class="form-control" name="attendance_status" required>
                      <option value="">Select</option>
                      {% for n in data %}
                      <option value="{{m.attendance_status}}">{{m.attendance_status}}</option>  
                       {% endfor %}  
                      <option value="Present">Present</option> 
                      <option value="Absent">Absent</option>               
                   </select>
                  </div>

                <button type="submit" class="btn btn-success btn-lg mb-1"><i class="fa fa-paper-plane" aria-hidden="true"></i> Save</button>
                <br> <br> 
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 



<!-- Start Validation on input fields -->
<script>
  // Function to validate form fields
  function validateForm() {
    var eventName = document.forms["EventForm"]["event_name"].value;             
      
    // Regular expressions for validation
    var nameRegex = /^[A-Za-z ]{3,}$/;  // Only allow alphabets

    // Validation for first name
    if (!nameRegex.test(eventName)) {
      alert("Please enter a valid event name with minimum 3 alphabets.");
      return false;
    }

    return true; // Form is valid
        }
      </script>
      <!-- End Validation on input fields -->
<!--  -->


<!-- Start Validation On Date -->
<script>
  // Get the current date
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
  var yyyy = today.getFullYear();
  
  today = yyyy + '-' + mm + '-' + dd;
  
  // Set the minimum attribute for L_Start_date
  document.getElementById('L_Start_date').setAttribute('max', today);
  
  // Disable L_End_date initially
  document.getElementById('L_End_date').disabled = true;
  
  // Function to enable L_End_date when L_Start_date is selected
  function enableEndDate() {
      document.getElementById('L_End_date').disabled = false;
      updateMinEndDate();
  }
  
  // Function to update the minimum attribute for L_End_date
  function updateMinEndDate() {
      var startDateValue = document.getElementById('L_Start_date').value;
      document.getElementById('L_End_date').setAttribute('min', startDateValue);
  }
  
  // Attach event listener to L_Start_date to enable L_End_date and update its minimum attribute
  document.getElementById('L_Start_date').addEventListener('change', enableEndDate);
  
  // Initially set the minimum attribute for L_End_date
  updateMinEndDate();
</script>
<!-- Start Validation On Date -->

<!-- Start CDN for Pagingnation and static search boxes  -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<!-- End CDN for Pagingnation and static search boxes -->
{% endblock %}